[submodule "media"]
	path = media
	url = https://github.com/rl-tools/raptor-media.git
[submodule "data"]
	path = data
	url = https://github.com/rl-tools/raptor-data.git
[submodule "rl-tools/external/highfive"]
	path = rl-tools/external/highfive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "rl-tools/external/json"]
	path = rl-tools/external/json
	url = https://github.com/nlohmann/json.git
